@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* configurações padrões */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto'; 
    font-size: 1rem;
}

:root{
    --color: #fff;
}

.fa-linkedin{
    font-size: 2rem;
    color: blue;
}

.fa-github{
    font-size: 2rem;
}

.upper{
    text-transform: uppercase;
    color: red;
}

.linha {
    width: 500px;
    margin: auto;
    border-top: 1px solid #dcdcdc;
}

/* header  */
html, body {
    height: 100%;
    background-image: url(../img/arquivo.jpg);
    background-size: cover;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.nav-bar-lista{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 60px;
}

.nav-bar-lista li {
    list-style-type: none;
}

.nav-bar-lista li a{
    font-size: 25px;
    color: var(--color);
    font-weight: 300;
    text-decoration: wavy;
}
/*  configurações do main  */
main {
    height: 60%;
}

.container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color);
}
.section-container{
    text-align: center;
}

.section-container h1{
    font-weight: 500;
    font-size: 5rem;
}

.section-container p {
    margin: 10px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    --color: black;
    color: var(--color);
    line-height: 10px;
}

.section-lista{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}

.section-lista li{
    list-style-type: none;
}

/* mobile */
@media screen and (max-width:480px){

    *{
        margin: 0;
        padding: 0;
    }

    body, header{
        width: 99%;
    }

    .container {
        width: 100%;
    }

    .nav-bar{
        width: 100%;
    }

    .nav-bar-lista{
        gap: 13px;
    }

    .nav-bar-lista li a{
        font-size: 1.3rem;
        color: black;
    }

    .section-container{
        width: 100%;
        padding: 1rem;
    }

    .section-container h1 {
        font-size: 4.4rem;
    }
    .section-container p {
        font-size: 2rem;
        padding: 2rem;
    }
}